.content {
	background-color: hsl(227, 46%, 44%);
	padding: 48px 0 81px;
	color: #fff;


	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
		gap: 20px 96px;
		margin-bottom: 30px;
	}

	&-left {
		font-weight: 700;

		&__text {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&-rigth {
		&__text {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

.btn {
	font: 700 20px / 24px 'Roboto';
	padding: 18px 88px;
	border-radius: 10px;
	background-color: #ffb800;
	display: block;
	margin: 0 auto;
}