.modal {
	display: none;
}

.calc {
	width: fit-content;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px 28px 60px;


	&-btns {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		gap: 10px;
		grid-template-areas:
			'calc-actios calc-result'
			'numerals calc-result'
		;
	}
}

.calc-actios {
	grid-area: calc-actios;
	display: flex;

	.numeral {
		background-color: #C4C4C4;
		color: #000;

		&:not(:last-child) {
			margin-right: 14px;
		}
	}
}

.numerals {
	grid-area: numerals;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	gap: 10px;
}

.numeral {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 82px;
	height: 82px;
	background-color: #757575;
	border-radius: 5px;
	color: #fff;
	font-size: 40px;
	line-height: 46px;
	cursor: pointer;
}

.numeral[data-value='0'] {
	width: 180px;
	grid-column: 1 / span 2;
}

.calc-result {
	grid-area: calc-result;
	display: flex;
	flex-direction: column;

	.numeral {
		background-color: #3D53A4;
		color: #fff;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.result {
	width: 366px;
	font-size: 64px;
	line-height: 65px;
	margin-bottom: 18px;
	overflow-x: auto;
	display: flex;
	flex-direction: row-reverse;

	&::-webkit-scrollbar {
		width: 0px;
		display: none;
	}
}

.opened {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(#000, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}